@media screen and (max-width: 900px) {
    .col {
        margin-left: 20%;
    }
}

@media screen and (max-width: 750px) {

     #linkDiv {
        display: none;
        
    }

    #mobileLinkDiv {
        display: inline-block;
    }

    #navDiv {
        justify-content: center;
    }

    .homeTitle {
        margin-top: 10%;
    }

    .contentDiv {
        margin-top: 10%;
    }
    
} 

@media screen and (max-width: 700px) {
    #contactLinkDiv {
        display: flex;
        flex-wrap: wrap;
    }

    .contactInfo {
        word-break: break-all;
    }
}

@media screen and (max-width: 650px) {
    .col {
        margin-left: 12%;
    }
    
    #addRecipeDiv {
        margin-left: 8%;
    }
}

@media screen and (max-width: 525px) {
    .col {
        margin-left: 8%;
    }
}

@media screen and (max-width: 470px) {
    .col {
        margin-left: 3%;
    }

    .homeTitle {
        margin-top: 15%;
    }

    #mBHead {
        margin-top: 15%;
    }

    .contentDiv {
        margin-top: 15%;
    }
}

@media screen and (max-width: 430px) {
    .col {
        margin-left: 0;
    }

    #contactContentDiv {
        margin-top: 15%;
    }
}

@media screen and (max-width: 360px) {
   #mobileLinkDiv {
       margin-left: 10%;
   }

   #mBHead {
    margin-top: 18%;
}

   #contactContentDiv {
    margin-top: 22%;
}
}

